*.CWR filter=lfs diff=lfs merge=lfs -text
.ELF filter=lfs diff=lfs merge=lfs -text
.GEN filter=lfs diff=lfs merge=lfs -text
.STE filter=lfs diff=lfs merge=lfs -text
*.ELF filter=lfs diff=lfs merge=lfs -text
*.GEN filter=lfs diff=lfs merge=lfs -text
*.STE filter=lfs diff=lfs merge=lfs -text
